@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100dvh;
  /* width: 100dvw; */
  font-family: 'Poppins';
}

main {
  height: 100%;
  display: flex;
}

.form {
  border-right: 1px solid #ababab;
  display: inline-flex;
  flex-direction: column;
  height: 100dvh;
  min-width: 17%;
  max-width: 17%;
  padding: 1rem;
}

.form button {
  margin: 1rem 0;
}

.section {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  padding: 1.5rem;
}

article {
  padding: 1rem;
  background-color: #f2f2f2;
  border-radius: 15px;
  border: none;
  width: 200px;
  min-height: 70px;
  max-height: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}