@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100dvh;
  /* width: 100dvw; */
  font-family: 'Poppins';
}

main {
  border: 1px solid #ababab;
  height: 100%;
  display: flex;
}

form {
  border-right: 1px solid #ababab;
  display: inline-flex;
  flex-direction: column;
  height: 100%;
  /* width: 15%; */
  padding: 1rem;
}

form button {
  margin: 1rem 0;
}

section {
  background-color: aqua;
}